<h2>Sign In Component</h2>

<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="username">Username: </label>
        <input id="username" type="text" class="form-control" formControlName="username">
        <p *ngIf="signInForm.get('username')?.errors && (signInForm.get('username')?.dirty || signInForm.get('username')?.touched)"
            class="text-danger">
            Username is required.
        </p>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input id="password" type="text" type="password" class="form-control" formControlName="password">
        <p *ngIf="signInForm.get('password')?.errors && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)"
            class="text-danger">
            Password should be at least 6 characters. Password must have at least one number, one lowercase and
            uppercase letter.
        </p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger mt-2" [disabled]="signInForm.invalid">Sign In</button>
    </div>
    <a routerLink="/sign-up">Don't have an account? Create one!</a>
</form>